{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="m-3 m-lg-5">
	<div class="text-center mt-4">
		<h1 class="h3">{% trans "Change Password" %}</h1>
		<p class="text-black-50">
			<p>{% trans "Update your password below." %}</p>
		</p>
	</div>

	<form method="POST" action="{% url 'account_change_password' %}" class="password_change">
		{% csrf_token %}
		{{ form|crispy }}
		
		<div class="row mt-4">
			<div class="col d-flex align-items-center">
				<a class="button secondaryAction text-muted text-light" href="{% url 'account_reset_password' %}"><small>{% trans "Forgot Password?" %}</small></a>
			</div>
			<div class="col text-end">
				<button type="submit" class="btn btn-primary rounded-pill py-2 px-5" name="action">{% trans "Change Password" %}</button>
			</div>
		</div>
	</form>
	<p class="text-black-50">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
</div>
{% endblock %}
