{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
	<div class="m-3 m-lg-5">
		<div class="text-center mt-4">
			<h1 class="h3">{% trans "Set Password" %}</h1>
			<p class="text-black-50">
				{% blocktrans %}Set a new password below{% endblocktrans %}
			</p>
		</div>
	
		<form method="POST" action="{% url 'account_set_password' %}" class="password_set">
			{% csrf_token %}
			{{ form|crispy }}
			<div class="row mt-4">
				<div class="col text-end">
					<input type="submit" class="btn btn-primary rounded-pill py-2 px-5" value="{% trans 'Set Password' %}" />
				</div>
			</div>
		</form>
	</div>
{% endblock %}
