{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="m-3 m-lg-5">
	<div class="text-center mt-4">
		<h1 class="h3">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
		{% if token_fail %}
			<p class="text-black-50">
					{% url 'account_reset_password' as passwd_reset_url %}
					<p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
			</p>
		{% endif %}
	</div>

	{% if not token_fail %}
		{% if form %}
			<form method="POST" action="{{ action_url }}">
				{% csrf_token %}
				{{ form|crispy }}
				<div class="row mt-4">
					<div class="col text-end">
						<input type="submit" class="btn btn-primary rounded-pill py-2 px-5" name="action" value="{% trans 'change password' %}"/>
					</div>
				</div>
			</form>
		{% else %}
			<p>{% trans 'Your password is now changed.' %}</p>
		{% endif %}
	{% endif %}
</div>
{% endblock %}
