{% extends './Base.html' %}
{% load static %}
{% block Link %}
  <!-- Customizable CSS -->
  <link rel="stylesheet" href="{% static app_name|add:'/css/main.css' %}" />
  <link rel="stylesheet" href="{% static app_name|add:'/css/blue.css' %}" />
  <link rel="stylesheet" href="{% static app_name|add:'/css/owl.carousel.css' %}" />
  <link rel="stylesheet" href="{% static app_name|add:'/css/owl.transitions.css' %}" />
  <link rel="stylesheet" href="{% static app_name|add:'/css/animate.min.css' %}" />
  <link rel="stylesheet" href="{% static app_name|add:'/css/rateit.css' %}" />
  <link rel="stylesheet" href="{% static app_name|add:'/css/bootstrap-select.min.css' %}" />

  <!-- Icons/Glyphs -->
  <link rel="stylesheet" href="{% static app_name|add:'/css/font-awesome.css' %}" />

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Barlow:200,300,300i,400,400i,500,500i,600,700,800" rel="stylesheet" />
  <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css' />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,800' rel='stylesheet' type='text/css' />
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css' />
  {% comment %} <style>
        
    .rateit {
      display: -moz-inline-box;
      display: inline-block;
      position: relative;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-touch-callout: none;
    }

    .rateit .rateit-range
    {
      position: relative;
      display: -moz-inline-box;
      display: inline-block;
      background: url("{% static app_name|add:'/images/star.html' %}");
      height: 14px;
      outline: none;
    }

    .rateit-small .rateit-range
    {
      position: relative;
      display: -moz-inline-box;
      display: inline-block;
      background: url("{% static app_name|add:'/images/star-small.png' %}");
      height: 14px;
      outline: none;
    }

    .rateit .rateit-range * {
      display:block;
    }

    /* for IE 6 */
    * html .rateit, * html .rateit .rateit-range
    {
      display: inline;
    }

    /* for IE 7 */
    * + html .rateit, * + html .rateit .rateit-range
    {
      display: inline;
    }

    .rateit .rateit-hover, .rateit .rateit-selected
    {
      position: absolute;
      left: 0px;
    }

    .rateit .rateit-hover-rtl, .rateit .rateit-selected-rtl
    {
      left: auto;
      right: 0px;
    }

    .rateit .rateit-hover
    {
      background: url("{% static app_name|add:'/images/star.html' %}") left -28px;
    }

    .rateit-small .rateit-hover
    {
      background: url("{% static app_name|add:'/images/star-small.png' %}") left -328px;
    }

    .rateit .rateit-hover-rtl
    {
      background-position: right -28px;
    }

    .rateit .rateit-selected
    {
      background: url("{% static app_name|add:'/images/star.html' %}") left -14px;
    }

    .rateit-small .rateit-selected
    {
      background: url("{% static app_name|add:'/images/star-small.png' %}") left -14px;
    }

    .rateit .rateit-selected-rtl
    {
      background-position: right -14px;
    }

    .rateit .rateit-preset
    {
      background: url("{% static app_name|add:'/images/star.html' %}") left -48px;
    }

    .rateit .rateit-preset-rtl
    {
      background: url("{% static app_name|add:'/images/star.html' %}") left -48px;
    }

    .rateit-small .rateit-preset
    {
      background: url("{% static app_name|add:'/images/star-small.png' %}") left -48px;
    }

    .rateit-small .rateit-preset-rtl
    {
      background: url("{% static app_name|add:'/images/star-small.png' %}") left -48px;
    }

    .rateit button.rateit-reset
    {
      background: url("{% static app_name|add:'/images/delete.gif' %}") 0 0;
      width: 14px;
      height: 14px;
      display: -moz-inline-box;
      display: inline-block;
      float: left;
      outline: none;
      border:none;
      padding: 0;
    }

    .rateit button.rateit-reset:hover, .rateit button.rateit-reset:focus
    {
      background-position: 0 -14px;
    }
    
    .custom_card {
      z-index: 5;
      position: absolute;
      right: 30px;
      top: 7px;
    }

  </style> {% endcomment %}
{% endblock Link %}
{% block Card %}
  <!-- ============================================================= SHOPPING CART DROPDOWN ============================================================= -->
  <div
  class="col-lg-2 col-md-4 col-sm-6 col-xs-12 animate-dropdown top-cart-row"
  >

    <div class="dropdown dropdown-cart">
      <a
        href="#"
        class="dropdown-toggle lnk-cart"
        data-toggle="dropdown"
      >
        <div class="items-cart-inner">
          <div class="basket">
            <div class="basket-item-count">
              <span class="count">2</span>
            </div>
            <div class="total-price-basket">
              <span class="lbl">Shopping Cart</span>
              <span class="value">$4580</span>
            </div>
          </div>
        </div>
      </a>
      <ul class="dropdown-menu">
        <li>
          <div class="cart-item product-summary">
            <div class="row">
              <div class="col-xs-4">
                <div class="image">
                  <a href="detail.html"
                    ><img src="{% static app_name|add:'/images/p4.jpg' %}" alt="" width="50%"
                  /></a>
                </div>
              </div>
              <div class="col-xs-7">
                <h3 class="name">
                  <a href="index8a95.html?page-detail"
                    >Simple Product</a
                  >
                </h3>
                <div class="price">$600.00</div>
              </div>
              <div class="col-xs-1 action">
                <a href="#"><i class="fa fa-trash"></i></a>
              </div>
            </div>
          </div>
          <!-- /.cart-item -->
          <div class="clearfix"></div>
          <hr />
          <div class="clearfix cart-total">
            <div class="pull-right">
              <span class="text">Sub Total :</span
              ><span class="price">$600.00</span>
            </div>
            <div class="clearfix"></div>
            <a
              href="checkout.html"
              class="btn btn-upper btn-primary btn-block m-t-20"
              >Checkout</a
            >
          </div>
          <!-- /.cart-total-->
        </li>
      </ul>
      <!-- /.dropdown-menu-->
    </div>
    <!-- /.dropdown-cart -->

  </div>
  <!-- ============================================================= SHOPPING CART DROPDOWN : END============================================================= -->
{% endblock Card %}
{% block Content %}
  <!-- veg section -->
  <section class="veg_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>Our Vegetables</h2>
        <p>
          which don't look even slightly believable. If you are going to use a
          passage of Lorem Ipsum, you need to be sure there isn't an
        </p>
      </div>
      <div class="row">

        {% for vegetable in vegetables %}
          <!-- /.item -->
          <div class="col-md-6 col-lg-4 item item-carousel">
            <div class="products box">
              <div class="product">
                <div class="product-image">
                  <div class="image"> 
                        <a href="detail.html">
                          <img src="{% get_media_prefix %}{{vegetable.image}}" alt="{{vegetable.name}}" /> 
                            <img src="{% static app_name|add:'/images/p2_hover.jpg' %}" alt="" class="hover-image" />
                        </a>
                        
                        </div>
                  <!-- /.image -->
                  
                  <div class="tag new"><span>new</span></div>
                </div>
                <!-- /.product-image -->
                
                <div class="product-info text-center" style="margin-top: 15px">
                  <h3 class="name"><a href="detail.html">{{vegetable.name}}</a></h3>
                  <div class="rating rateit-small"></div>
                  <div class="description"></div>
                  <div class="product-price"> <span class="price"> ${{vegetable.price}} </span> <span class="price-before-discount">$ 800</span> </div>
                  <!-- /.product-price --> 
                  
                </div>
                <!-- /.product-info -->
                <div class="cart clearfix animate-effect">
                  <div class="action">
                    <ul class="list-unstyled">
                      <li class="add-cart-button btn-group">
                        <button class="btn btn-primary icon" data-toggle="dropdown" type="button"> <i class="fa fa-shopping-cart"></i> </button>
                        {% comment %} <button class="btn btn-primary cart-btn" type="button">Add to cart</button> {% endcomment %}
                      </li>
                      <li class="lnk wishlist"> <a class="add-to-cart" href="detail.html" title="Wishlist"> <i class="icon fa fa-heart"></i> </a> </li>
                      <li class="lnk"> <a class="add-to-cart" href="detail.html" title="Compare"> <i class="fa fa-signal" aria-hidden="true"></i> </a> </li>
                    </ul>
                  </div>
                  <!-- /.action --> 
                </div>
                <!-- /.cart --> 
              </div>
              <!-- /.product --> 
              
            </div>
            <!-- /.products --> 
          </div>
          <!-- /.item -->
        {% endfor %}
        {% comment %} <div class="col-md-6 col-lg-4">
          <div class="box">
            <div class="img-box">
              <img src="{% static app_name|add:'/images/p1.png' %}" alt="" />
            </div>
            <div class="detail-box">
              <a href=""> Vegetable </a>
              <div class="price_box">
                <h6 class="price_heading"><span>$</span> 10.00</h6>
              </div>
            </div>
          </div>
        </div> {% endcomment %}





     
      </div>
      <div class="btn-box">
        <a href=""> View More </a>
      </div>
    </div>
  </section>

  <!-- end veg section -->
{% endblock Content %}
{% block Scripts %}
  <!-- JavaScripts placed at the end of the document so the pages load faster --> 
  <script src="{% static app_name|add:'/js/jquery-1.11.1.min.js' %}"></script> 
  <script src="{% static app_name|add:'/js/bootstrap.min.js' %}"></script> 
  <script src="{% static app_name|add:'/js/bootstrap-hover-dropdown.min.js' %}"></script> 
  <script src="{% static app_name|add:'/js/owl.carousel.min.js' %}"></script> 
  <script src="{% static app_name|add:'/js/echo.min.js' %}"></script> 
  <script src="{% static app_name|add:'/js/jquery.easing-1.3.min.js' %}"></script> 
  <script src="{% static app_name|add:'/js/bootstrap-slider.min.js' %}"></script> 
  <script src="{% static app_name|add:'/js/jquery.rateit.min.js' %}"></script> 
  <script src="{% static app_name|add:'/js/lightbox.min.js' %}"></script> 
  <script src="{% static app_name|add:'/js/bootstrap-select.min.js' %}"></script> 
  <script src="{% static app_name|add:'/js/wow.min.js' %}"></script> 
  <script src="{% static app_name|add:'/js/scripts.js' %}"></script>
{% endblock Scripts %}
